body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}




/* ------------------css for navigation bar */
.navbar {
  background-color: #f8f9fa;
  color: #333333;
  text-align: center;
}

.navbar p {
  margin: 0;
}

#name {
  margin: 0px;
  font-size: x-large;
  font-weight: 700;
  padding: 10px 10px 0px 10px;
}

#details {
  font-size: small;
  padding: 5px;
}

.navbar a {
  color: #333333;
  text-decoration: none;
}

.navbar a:hover {
  color: #007bff;
}

/* Style for the bullet */
.bullet {
  color: #333333;
  cursor: pointer;
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 50px; /* Adjust as needed */
  font-size: 25px;
}

.bullet:hover {
  color: #007bff;
}
/* ----------------navbar css completed */





/* ----------------CSS for the section */
.container-item {
  padding: 20px;
  padding-bottom: 0px;
}

.container h3 {
  margin: 0px;
}

.container hr {
  border-top: 2px solid #333333;
}

.container div p {
  margin: 0px;
  padding: 1px;
}

/* CSS for college name */
.child p:first-child {
  font-weight: bold;
}

/* CSS for location and date */
.location-date {
  display: flex;
  justify-content: space-between; /* Align items to start and end of container */
  align-items: baseline; /* Align items on the baseline */
}

.location-date span {
  font-weight: normal;
  font-style: italic;
  font-size: small;
  margin-left: 10px;
}
/*  -------------- section css completed*/






/* ---------------css for footer */
footer {
  background-color: #f8f9fa;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p{
  padding: 10px 0px 10px 0px;
  color: #333333;
  margin: 0;
}

footer a{
  text-decoration: none;
  color: #333333;
  padding: 0px 0px 10px 0px;
  margin: 0px 10px 0px 0px;
}

footer a:hover{
  color: #007bff;
}
/* ------------footer css completed */