@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Lobster&display=swap');
/* font-family: 'Grenze Gotisch', cursive; */



/* -------------------------------------- */


*{
    background-color: black;
}


.image
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.profileImage
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: 3px solid #FF0000;
}


.intro
{
    line-height: 0%;
    text-align: center;
}
.name
{
    margin-top: 25px;
    margin-bottom: 35px;
    color: #FF0000;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 200;
    font-size: 38px;
    letter-spacing: 2px;
}
.bio
{
    font-size: 15px;
    color: #8B0000;
    font-family: 'Grenze Gotisch', cursive;
}


.headText
{
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
    color: white;
    text-align: center ;
}

.text
{
    color: white;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.container
{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.container > div
{
    margin: 0px 15px 15px;
    height: 250px;
    width: 200px;
    cursor: pointer;
    border: 3px solid #8B0000 ;
    border-radius: 9px;
    border-bottom: none;
}

.container_img
{
    background-repeat: no-repeat;
    background-size: cover;
}
.karya
{
    background-image:url(images/construction_cover.jpg);
}
.blogspot
{
    background-image: url(images/blogs_background.jpg);
}
.collegeSite
{
    background-image: url(images/pic3.png);
}
.notesHub
{
    background-image: url(images/pic1.png);
}

.footer
{
    background-color: #FF0000;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    border-radius: 8px;
}