body
{
    background-color: rgb(136, 136, 136);
}
div
{
    margin-top: 50px;
    line-height: 0.1;
    text-align: center;
}

.main h1
{
    color: rgb(12, 125, 31);

}
.main h5
{
    color: rgb(3, 106, 20);
}
.main p
{
    color: rgb(65, 38, 38);
}
div img{
    padding-top: 25px;
}